<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :barcode_type, label: "Barcode Type" %>
    <%= f.input :barcode, label: "Barcode" %>
    <%#= f.input :parent_product_id %>
    <%#= f.association :user %>

    <table class="table table-medium">
      <thead>
        <tr>
          <th class="col-md-2"></th>
          <% Category.all.each do |category| %>
              <th class="col-md-2"><%= category.name %></th>
          <% end %>
        </tr>

      </thead>

      <tbody>

        <% ImpactLineItem.all.each do |impact_line_item| %>
            <tr>
               <td><%= impact_line_item.name %></td>
               <% Category.all.each do |category| %>
                  <%# byebug %>
                  <% if @product.persisted? %>
                    <% product_impact_line_item = @product.find_product_impact_line_item(impact_line_item)  %>
                    <td class="col-md-2">
                      <input type="text"
                              name="impact_entry[<%=impact_line_item.id%>][<%=category.id%>]"
                              value="<%= product_impact_line_item.find_impact_entry(category).value %>"
                              <%#= impact_line_item.name == "Total Impact" ? "disabled" : "" %> />
                    </td>
                  <% else %>
                    <td class="col-md-2"><input type="text" name="impact_entry[<%=impact_line_item.id%>][<%=category.id%>]"/></td>
                  <% end %>
               <% end %>
            </tr>
       <% end %>
     </tbody>


    </table>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
