<p id="notice"><%= notice %></p>

<h1>Products Listing</h1>

<%= paginate(@products) %>
<div class="pagination_info">
  <%= page_entries_info @products %>
</div>

<div class="row products">
  <% @products.each do |product| %>
    <div class ="col-lg-3 col-md-4 col-sm-6 col-xs-12">

    <% if product.image.present? %>
      <%= link_to image_tag(product.image.url(:thumb), class: "product-image"),
          product_path(product) %>
      <h4><%= link_to product.name, product_path(product) %></h4>
    <% else %>
      <%#= link_to '<i class="fa fa-camera-retro fa-5x" aria-hidden="true"></i>'.html_safe,
          product_path(product) %>
      <%= link_to(product, class: "product-placeholder-link") do %>
        <div class="product-placeholder-image">
            <%= product.name %>
        </div>
      <% end %>
      <h4><%= link_to product.name, product_path(product) %></h4>
    <% end %>
    </div>
  <% end %>
</div>

<%= paginate(@products) %>


<%#= link_to 'New Product', new_product_path %>
