<p id="notice"><%= notice %></p>

<h1>Products Listing</h1>

<%= paginate(@products) %>
<div class="pagination_info">
  <%= page_entries_info @products %>
</div>

<div class="row products">
  <% @products.each do |product| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-index-image-container-with-name">
    <% if product.image.present? %>
      <div class="product-index-image-container">
        <%= link_to image_tag(product.image.url(:thumb), class: "product-index-image"),
            product_path(product) %>
      </div>
      <span><%= link_to product.name, product_path(product) %></span>
    <% else %>
      <%= link_to(product, class: "product-index-placeholder-link") do %>
        <div class="product-index-image-container">
            <span class="product-index-placeholder-name"> <%= product.name %> </span>
        </div>
      <% end %>
      <span><%= link_to product.name, product_path(product) %></span>
    <% end %>
    </div>
  <% end %>
</div>

<%= paginate(@products) %>


<%#= link_to 'New Product', new_product_path %>
