<div class="row">
  <!-- <p id="notice"><%#= flash[:notice] %></p>
  <p id="alert"><%#= flash[:alert] %></p> -->

  <div class="col-sm-8">
    <div class="h2">Product</div>
    <p>
      <strong>Product Id:</strong>
      <%= @product.id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Barcode Type:</strong>
      <%= @product.barcode_type %>
    </p>

    <p>
      <strong>Barcode:</strong>
      <%= @product.barcode %>
    </p>

    <p>
      <strong>Manufactured Address:</strong>
      <%= @product.address %>
    </p>

    <p>
      <strong>Contact E-mail:</strong>
      <%= @product.contact_email %>
    </p>

    <p>
      <strong>Link to Details:</strong>
      <%= link_to @product.details_url, @product.details_url %>
    </p>
  </div>

  <div class="col-sm-4">
    <% if @product.image.present? %>
      <%= image_tag @product.image.url(:small), class: "product-image" %>
    <% end %>
  </div>

</div>


<table id="impacts-table" class="table table-bordered table-medium">
  <thead>
    <tr>
      <th class="col-md-2"></th>
      <% Category.all.each do |category| %>
          <th class="col-md-2"><%= category.name %></th>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% product_impact_line_items = @product.product_impact_line_items %>
    <% product_impact_line_items.all.each do |product_impact_line_item| %>
        <tr>
          <th scope="row"><%= product_impact_line_item.impact_line_item.name %></th>
           <% Category.all.each do |category| %>
               <%# byebug %>
               <td class="col-md-2"> <%#= product_impact_line_item.find_impact_entry(category).value %></td>
           <% end %>
        </tr>

    <% end %>

 </tbody>
</table>

<%= link_to 'Edit Product', edit_product_path(@product), class: "btn btn-primary" %>
<%= link_to 'Back', products_path, class: "btn btn-primary" %>

<br>
<%# byebug %>
<h3 id="source-product-header">Source Products</h3>

<div id="child-product-form">
  <%= render "/products/child_product_form", parent_product: @product %>
</div>

<hr>

<table class="table table-medium" id="child-products">
  <thead>
    <tr>
      <th class="col-md-2">Product Id</th>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Quantity</th>
      <th class="col-md-2"></th>
      <th class="col-md-2"></th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <div>
      <% @product.children.each do |child_product| %>
        <%= render partial: "/products/child_product", locals: {parent_product: @product, child_product: child_product} %>
      <% end %>
    </div>
 </tbody>
</table>

<h3>Product and Source Products Locations</h3>
<% if @product.address.present? || @product.child_product_addresses_present? %>
<div>
  <div id="map" style='height: 600px;'></div>
</div>

<%# byebug %>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { scrollwheel: false, zoomControl: true }, internal: {id: 'map'}}, function(){


    var markers1 = handler.addMarkers([
      {
        "lat": <%= @product.latitude %>,
        "lng": <%= @product.longitude %>,
        "picture": {
          //"url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
          "url": "<%= image_path('red_MarkerP.png') %>",
          "width":  20,
          "height": 32
        },
        "infowindow": "<%= @product.name %>"
      }
    ]);
    var markers2 = handler.addMarkers(<%= raw products_json(@product.children_with_address).to_json %>);
    var markers = markers1.concat(markers2);

    updateMarkers(handler, markers);

    // handler.bounds.extendWith(markers);
    // // set the zoom differently for a single marker
    // if (markers.length === 1) {
    //   handler.fitMapToBounds();
    //   handler.getMap().setZoom(17);
    // } else {
    //   handler.fitMapToBounds();
    // }

  });
</script>
<% else %>
  <p>No addresses provided for product or source products.</p>
<% end %>
