<h2>Product</h2>
<!-- <p id="notice"><%#= flash[:notice] %></p>
<p id="alert"><%#= flash[:alert] %></p> -->

<p>
  <strong>Product Id:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Barcode Type:</strong>
  <%= @product.barcode_type %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode %>
</p>

<% if @product.image.present? %>
  <%= image_tag @product.image.url(:small), class: "product-image full-width" %>
<% end %>

<p>
  <strong>Contact E-mail:</strong>
  <%= @product.contact_email %>
</p>

<p>
  <strong>Link to Details:</strong>
  <%= @product.details_url %>
</p>


<table class="table table-bordered table-medium">
  <thead>
    <tr>
      <th class="col-md-2"></th>
      <% Category.all.each do |category| %>
        <% if category != "created_at" && category != "updated_at"  %>
          <th class="col-md-2"><%= category.name %></th>
        <% end %>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% product_impact_line_items = @product.product_impact_line_items %>
    <% product_impact_line_items.all.each do |product_impact_line_item| %>
        <tr>
          <th scope="row"><%= product_impact_line_item.impact_line_item.name %></th>
           <% Category.all.each do |category| %>
               <%# byebug %>
               <td class="col-md-2"> <%= product_impact_line_item.find_impact_entry(category).value %></td>
           <% end %>
        </tr>

    <% end %>

 </tbody>
</table>

<%= link_to 'Edit Product', edit_product_path(@product), class: "btn btn-primary" %>
<%= link_to 'Back', products_path, class: "btn btn-primary" %>

<br>
<%# byebug %>
<h3>Source Products</h3>

<div id="child-product-form">
  <%= render "/products/child_product_form", parent_product: @product %>
</div>

<hr>

<table class="table table-medium" id="child-products">
  <thead>
    <tr>
      <th class="col-md-2">Product Id</th>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Quantity</th>
      <th class="col-md-2"></th>
      <th class="col-md-2"></th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <div>
      <% @product.children.each do |child_product| %>
        <%= render partial: "/products/child_product", locals: {parent_product: @product, child_product: child_product} %>
      <% end %>
    </div>
 </tbody>
</table>
