<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<table class="table table-medium">
  <thead>
    <tr>
      <th class="col-md-2"></th>
      <% Category.all.each do |category| %>
        <% if category != "created_at" && category != "updated_at"  %>
          <th class="col-md-2"><%= category.name %></th>
        <% end %>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% product_impact_line_items = @product.product_impact_line_items %>
    <% product_impact_line_items.all.each do |product_impact_line_item| %>
      <% if product_impact_line_item.impact_line_item != "created_at" && product_impact_line_item.impact_line_item != "updated_at"  %>
        <tr>
           <td><%= product_impact_line_item.impact_line_item.name %></td>
           <% Category.all.each do |category| %>
              <% if category != "created_at" && category != "updated_at"  %>
               <%# byebug %>
               <td class="col-md-2"> <%= product_impact_line_item.find_impact_entry(category).value %></td>
              <% end %>
           <% end %>
        </tr>
      <% end %>
    <% end %>

 </tbody>
</table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
